{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>LISTA DUEÑOS</h1>
    {% if duenos %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>RUT</td>
                <td>EMAIL</td>
                <td>NOMBRE</td>
                <td>TELEFONO</td>
                <td>DIRECCION</td>
                <td>CUENTA BANCARIA</td>
                <td>TIPO VIVIENDA</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for du in duenos %}
            <tr>
                <td>{{du.rut}}</td>
                <td>{{du.email}}</td>
                <td>{{du.nombre}}</td>
                <td>{{du.telefono}}</td>
                <td>{{du.direccion}}</td>
                <td>{{du.cuentaB}}</td>
                <td>{{du.edificio}}</td>
                <td>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#eliminarA{{ar.id}}" href="#eliminarD{{ar.id}}">Eliminar</a>
                        <button>asd</button>
                </td>
            </tr>

            <div class="modal fade" id="eliminarD{{du.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <form action="eliminarD/{{du.id}}">
                                            <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <div class="modal-body">                                                                       
                                                                    
                                                
                                    
                                            </div>
                                            <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Save changes</button>
                                            </div>
                                    </form>
                            </div>
                    </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>NO HAY REGISTROS</h3>
    {% endif %}

    <h1>LISTA ARRENDATARIOS</h1>
    {% if arren %}
    <table class="table table-bordered">
            <thead>
                <tr>
                    <td>RUT</td>
                    <td>EMAIL</td>
                    <td>NOMBRE</td>
                    <td>TELEFONO</td>
                    <td>BANCO</td>
                    <td>TARJETA</td>                    
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for ar in arren %}
                <tr>
                    <td>{{ar.rut}}</td>
                    <td>{{ar.email}}</td>
                    <td>{{ar.nombre}}</td>
                    <td>{{ar.telefono}}</td>
                    <td>{{ar.banco}}</td>
                    <td>{{ar.tarjeta}}</td>
                    <td>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#eliminarA{{ar.id}}" href="#eliminarA{{ar.id}}">Eliminar</a>
                            <button>asd</button>
                    </td>
                </tr>
                <div class="modal fade" id="eliminarA{{ar.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <form action="eliminarA/{{ar.id}}" method="POST">
                                            {% csrf_token %}
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">                                                                       
                                                                        
                                                    <h2>¿Esta seguro de eliminar este usuario?</h2>
                                        
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger"> Eliminar</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>NO HAY REGISTROS</h3>
    {% endif %}

    <h1>LISTA VEHICULOS</h1>
    {% if vehiculo %}
    <table class="table table-bordered">
            <thead>
                <tr>
                    <td>RUTUSUARIO</td>
                    <td>PATENTE</td>
                    <td>MARCA</td>
                    <td>MODELO</td>   
                    <td>ANIO</td>          
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for ve in vehiculo %}
                <tr>
                    <td>{{ve.rutUsuario}}</td>
                    <td>{{ve.patente}}</td>
                    <td>{{ve.marca}}</td>
                    <td>{{ve.modelo}}</td>
                    <td>{{ve.anio}}</td>
                    <td>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#eliminarV{{ve.id}}" href="#eliminarV{{ve.id}}">Eliminar</a>
                            <button>asd</button>
                    </td>
                </tr>

                <div class="modal fade" id="eliminarV{{ve.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <form action="eliminarV/{{ve.id}}" method="POST">
                                            {% csrf_token %}
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Vehiculo</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                                    <h2>¿Esta seguro de eliminar su vehiculo?</h2>
                                                                        
                                        
                                        
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>



                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>NO HAY REGISTROS</h3>
    {% endif %}


    <h1>LISTA USUARIOS</h1>
    {% if usuarios %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>RUT</td>
                    <td>EMAIL</td>
                    <td>TIPO</td>     
                    <td>PASS</td>         
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for du in usuarios %}
                <tr>
                    <td>{{du.rut}}</td>
                    <td>{{du.email}}</td>
                    <td>{{du.tipo}}</td>
                    <td>{{du.password}}</td>
                    <td>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#eliminarU{{du.id}}" href="#eliminarU{{du.id}}">Eliminar</a>
                            <button>asd</button>
                    </td>
                </tr>

                <div class="modal fade" id="eliminarU{{du.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <form action="eliminarU/{{du.id}}" method="POST">
                                            {% csrf_token %}
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuarios</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2>¿Esta seguro de eliminar este usuario?</h2>
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>NO HAY REGISTROS</h3>
    {% endif %}
    <h1>LISTA ESTACIONAMIENTOS ACTIVOS</h1>
    {% if estacionamientos %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>RUTDUENO</td>
                <td>DIRECCION</td>
                <td>TIPO</td>
                <td>PISO</td>
                <td>NUMERO</td>
                <td>PRECIO</td>
            </tr>
        </thead>
        <tbody>
            {% for es in estacionamientos %}
            <tr>
                <td>{{es.rutDueno}}</td>
                <td>{{es.direccion}}</td>
                <td>{{es.tipo}}</td>
                <td>{{es.piso}}</td>
                <td>{{es.numero}}</td>
                <td>{{es.precioHora}}</td>

            </tr>


            
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>NO HAY REGISTROS</h3>
    {% endif %}


    {% include 'footer.html' %}
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="{% static 'js/j.query.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>


</html>