<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <footer style="background-color: black;  " class="page-footer fixed-bottom  font-small pt-4">
        <div  style="color: white;" class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <ul class="list-unstyled">
                <li>
                  <p>MiEstacionamiento@miestacionamiento.cl</p>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
              <ul class="list-unstyled">
                <li>
                  <a >+569 4876 2924</a>
                </li>
              </ul>
            </div>
          </div>
        </div>  
      </footer>
</body>
</html>