{% load static %}

<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static '/css/estilo.css' %}">
    <title>Inicio</title>
</head>
<body>
    {% include './navbar.html' %}
    <h1 align = center>Bienvenidos a Mi Estacionamiento</h1>
    <center><img src="{% static 'img/Estacionamiento.jpg' %}" class="img-fluid" width="100%" alt=""></center>
    <br>
    <!-- Button trigger modal -->
    <center>    
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#Mapa">
            Ver Mapa
          </button>
    </center>

      
      <!-- Modal -->
      <div class="modal fade" id="Mapa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Estacionamientos cercanos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d833.0724443625796!2d-70.678204!3d-33.3635!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-33.3632677!2d-70.67800629999999!5e0!3m2!1ses-419!2scl!4v1561425812555!5m2!1ses-419!2scl" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row" style="margin-top: 60px;">
            <div class="col-md-6" style="text-align:center; margin-left: 40px; margin-right: 20px;">
              <img src="{% static 'img/EstacionamientoCasa.jpg' %}" width="500" height="400" alt="">
              <h2>¿ Que es Mi estacionamiento ?</h2>
              <p style="font-size: large;">
      
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                
              </p>
            </div>
            <div class="col-md-5"  style="text-align:center; margin-left: 20px; margin-right: 40px;" >
              <img src="{% static 'img/Ubicacion.jpg' %}" width="400" height="300" alt="">
              <h2>¿ Como funciona Mi estacionamiento ?</h2>
              <p style="font-size: large;">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  
              </p>
            </div>
          </div>
            <div class="row" style="margin-top: 60px;" >
                    <div class="col-md-6" style="text-align:center; margin-left: 40px; margin-right: 20px;">
                      <img src="{% static 'img/objetivos.jpg' %}" width="600" height="200" alt="">
                        <h2>Objetivos de Mi estacionamiento</h2>
                        <p style="font-size: large;">          
                  
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            
                        </p>      
                    </div>
                    </div>








                    {% include './footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>