{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Mi perfil</title>
</head>
<body>
    {% include './navbar.html' %}
        <div class="row" align = center>
            <div class="col-md-3">
                <div>
                        <h2>Datos personales</h2>
                        <label for="">Rut:</label><br>
                        <label for="">Correo:</label><br>
                        <label for="">Nombre:</label><br>
                        <label for="">Telefono:</label><br>
                </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vehiculo">
                    Registrar vehiculo
            </button>
        </div>
    </div>
            <!-- Modal -->
            <div align = center>
            <div class="modal fade" id="vehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <form>
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Registro de vehiculos</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">          
                                            <div class="form-group">
                                                    <label for="exampleFormControlInput1">Patente</label>
                                                    <input type="text" class="form-control"  placeholder="Ingrese patente del vehiculo">
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleFormControlInput1">Marca</label>
                                                    <input type="text" class="form-control"  placeholder="Ingrese marca del vehiculo">
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleFormControlInput1">Modelo</label>
                                                    <input type="text" class="form-control"  placeholder="Ingrese modelo del vehiculo">
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleFormControlInput1">Año</label>
                                                    <input type="number" class="form-control"  placeholder="Ingrese año del vehiculo">
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleFormControlInput1">Color</label>
                                                    <input type="text" class="form-control"  placeholder="Ingrese color del vehiculo">
                                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary">Registrar</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
            <br>    
            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Patente</td>
                            <td>Marca</td>
                            <td>Modelo</td>
                            <td>Año</td>
                            <td>Color</td>
                        </tr>
                    </thead>

    {% include './footer.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="{% static 'js/j.query.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>