{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Registro</title>
</head>
<body>

        {% include './navbar.html' %}

<div class="row">
        <div class="col-md-4" align = center>
                <h3>Dueño de estacionamiento</h3>
                <p>Si usted esta dispuesto a arrendar su estacionamiento debe registrarse aca!</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dueños">
                Registrarse como dueño
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="dueños" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Registro de dueño de estacionamiento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                                <form>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Rut</label>
                                                <input type="number" class="form-control"  placeholder="Ingrese rut sin puntos ni guiones">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Correo</label>
                                                <input type="email" class="form-control"  placeholder="ejemplo@ejemplo.com">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Nombre completo</label>
                                                <input type="text" class="form-control"  placeholder="Ingrese nombre completo">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Telefono de contacto</label>
                                                <input type="number" class="form-control"  placeholder="Ingrese numero telefonico">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Contraseña</label>
                                                <input type="password" class="form-control"  placeholder="Ingrese contraseña">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Direccion</label>
                                                <input type="number" class="form-control"  placeholder="Ingrese direccion">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleFormControlSelect1">Tipo de cuenta bancaria</label>
                                        <select class="form-control" >
                                                <option>Debito</option>
                                                <option>Credito</option>
                                        </select>
                                        
                                        <div class="form-group">
                                                <label for="exampleFormControlSelect1">Seleccione casa o edificio</label>
                                        <select class="form-control" id="vivienda">
                                                <option>Casa</option>
                                                <option>Edificio</option> 
                                        </select>
                                        <div>
                                                
                                         <div class="form-group" id="piso" >
                                                        <label for="exampleFormControlInput1">Piso</label>
                                                        <input type="text" class="form-control"  placeholder="Ingrese piso de estacionamiento">
                                        </div>
                                        <div class="form-group" id="numeroE">
                                                        <label for="exampleFormControlInput1">Numero de estacionamiento</label>
                                                        <input type="number" class="form-control"  placeholder="Ingrese numero de estacionamiento">
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Registrar</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-4" align = center>
                        <h3>Clientes</h3>
                        <p>Si andas en busca de estacionamientos registrate aca y encontraras estacionamientos cercanos disponibles y de forma rapida </p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientes">
                        Registrarse como dueño
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="clientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Registro de clientes</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                        <form>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Rut</label>
                                                        <input type="number" class="form-control"  placeholder="Ingrese rut sin puntos ni guiones">
                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Correo</label>
                                                        <input type="email" class="form-control"  placeholder="ejemplo@ejemplo.com">
                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Nombre completo</label>
                                                        <input type="text" class="form-control"  placeholder="Ingrese nombre completo">
                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Tarjeta</label>
                                                        <select class="form-control" >
                                                        <option>Debito</option>
                                                        <option>Credito</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Banco</label>
                                                        <input type="password" class="form-control"  placeholder="Ingrese Banco">
                                                </div>
                                                <div class="form-group">
                                                        <label for="exampleFormControlInput1">Telefono</label>
                                                        <input type="number" class="form-control"  placeholder="Ingrese direccion">
                                                </div>
                                                <div>
                                                        
                                                 <div class="form-group" id="piso" >
                                                        <label for="exampleFormControlInput1">Contraseña</label>
                                                        <input type="password" class="form-control"  placeholder="Ingrese contraseña">
                                                </div>
                                                </div>
                                        </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary">Registrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>        
       
</div>            

        {% include './footer.html' %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
        <script src="{% static 'js/j.query.validate.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
</body>
</html>